<div class="panel">
  <h1>Blocos</h1>
</div>

<div style="min-height: 200px">
  <div class="col-sm-4">ID:</div>
  <div class="col-sm-8">
    <input class="form-control" type="text" [(ngModel)]="bloco.id">
  </div>
  <div class="col-sm-4">Descrição:</div>
  <div class="col-sm-8">
    <input class="form-control" type="text" [(ngModel)]="bloco.descricao">
  </div>
  <div class="col-sm-4">Data de inserção:</div>
  <div class="col-sm-8">
    <input class="form-control" type="text" [(ngModel)]="bloco.createdDate">
  </div>
  <div class="col-sm-4">
    <input class="btn btn-primary" type="button" value="Salvar" (click)="save()">
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th class="col-sm-1">ID</th>
    <th class="col-sm-6">Descrição</th>
    <th class="col-sm-2">Date</th>
    <th class="col-sm-3"></th>
  </tr>
  <tr *ngFor="let item of blocos">
    <td>{{item.id}} </td>
    <td>{{item.descricao}} </td>
    <td>{{item.createdDate}} </td>
    <td>
      <button class="btn btn-primary" (click)="edit(item)">Editar</button>
      &nbsp;
      <button class="btn btn-danger" (click)="delete(item.id)">Excluir</button>
    </td>
  </tr>
</table>